
.imageBanner {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  opacity: 0;
  transition: 0.3s;
}
.movieContent {
  transition: transform 0.3s;
  /* box-shadow: 0 0 0.7rem rgba(255, 255, 255, 0.667); */
}
.movieContent:hover {
  transform: scale(1);
  z-index: 1;
  box-shadow: 0 0 1.1rem rgb(255, 255, 255);
}

.imageMovie:hover + .imageBanner {
  opacity: 0.7;
  display: block;
  transform: scale(1);
}
.imageBanner:hover {
  display: block;
  opacity: 0.7;
  transform: scale(1);
}
.imageBanner p {
  font-size: 0.8rem;
  width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.movieContent:hover {
  transform: scale(1.05);
}

.twitterHeart {
  position: absolute;
  top: -25px;
  right: -25px;
}
